h1 {
  text-align: center;
}
.continents-list {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: 80vw;
}

.continent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  border: 1px solid #dfdfdf;
  width: 80px;
  margin: 1px
}